<div class="column is-fullwidth">
  <div class="card-footer-item commenttext">
    <p>{{comment_text}}</p>
  </div>
  <div class="card-footer-item commentuser">
    <p>{{User.username}} at {{format_time created_at}}, {{format_date created_at}}</p>
  </div>
</div>