<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Talk</title>
  <link rel="stylesheet" href="./css/jass.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/a7b215c748.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <nav class="navbar" role="navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item is-size-2">
        <span class="fas fa-home"></span>
      </a>
      <a role="button" aria-label="menu" aria-expanded="false" data-target="nav-burger-menu" class="navbar-burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
  
  {{{body}}}

  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
</body>
</html>