<div class="container has-text-centered">
  <div class="control">
    <label class="radio">
      <input type="radio" name="foobar" id="loginradio" checked>
      Log in
    </label>
    <label class="radio">
      <input type="radio" name="foobar" id="signupradio">
      Sign up
    </label>
  </div>
  <div class="loginsection" style="display: block;">
    <div class="columns is-mobile">
      <div class="column is-half is-offset-one-quarter">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Username" id="username-login">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Password" id="password-login">
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-half is-offset-one-quarter">
        <div class="buttons">
          <button class="button is-link is-fullwidth" type="submit" id="submitlogin">Log In</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../js/login.js"></script>