.navbar {
  background-color: #00b3b3;
}

a:hover {
  text-decoration: none;
}

#titletext {
  font-family: 'VT323', monospace;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;  
  user-select: none;
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}